streamlit
google-generativeai
pandas
numpy
pyyaml
requests
fastapi
uvicorn[standard]
pydantic
python-dotenv
firebase-admin
beautifulsoup4
readability-lxml
python-docx
python-multipart
PyPDF2
datetime
google-auth
pyrebase4
streamlit-oauth
